{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <font face='courier'>
  <title>{% block title %}homepage{% endblock %}</title></font>

  {% comment %}
  The following is for logos
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-194x194.png' %}" sizes="194x194">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static 'img/android-chrome-192x192.png' %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'img/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <link rel="mask-icon" href="{% static 'img/pinned-woid.svg' %}" color="#0e1936">
  <link href="{% static 'css/vendor/normalize.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/woid.css' %}" rel="stylesheet">
  {% endcomment %}
  {% block stylesheet %}{% endblock %}
</head>

<style>
.content {
	max-width: 960px;
	margin: auto;
}
</style>


<body>
	<font face='courier' font size="6" color="goldenrod">
		<div class="wrapper">
		<header>
		<a href="{% url 'homepage' %}" style="text-decoration: none">top</a>
		</header>
	</font>
	<hr width="95%" size="1" noshade>
	<font face='courier'>
	<main>
{% comment %}
{% endcomment %}
	  <h1>home</h1>
      

	  
	</main>
	<div class="push"></div>
  </div>
  <hr width="95%" size="1" noshade>
  <footer>
    <a href="{% url 'homepage' %}">home</a>
    <a href="{% url 'aboutpage' %}">about</a>
	{% comment %}
    <a href="{% url 'status' %}">status</a>
    <a href="https://github.com/vitorfs/woid/" target="_blank">github</a>
    <a href="{% url 'cookies' %}">cookies</a>
    <a href="{% url 'privacy' %}">privacy</a>
    <a href="{% url 'terms' %}">terms</a>
    {% endcomment %}

  </footer></font>
<!--
  <script src="{% static 'js/ga.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/vendor/mustache.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment-timezone-with-data-2010-2020.min.js' %}"></script>
  <script src="{% static 'js/woid.js' %}"></script>
  {% block javascript %}{% endblock %}
-->
</body>
</html>